header{
    background-color:  #BBBBBB;
    padding:  1.0px 0.1px;      
}
.titulo-principal{
   padding-left: right;
   text-align: center;
   background-color:rgb(201, 189, 189);
   font-size:100px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-style: normal;
   text-shadow: 15px 13px 19px rgb(8, 5, 5);
}

#banner{
    width:100%;
}

.principal{
    text-shadow: 15px 13px 19px rgb(8, 5, 5);
    background: rgb(119, 117, 117);
    padding: 10px;
    
}
img{
   justify-content:center;
}

.titulo-centralizado{
    text-shadow: 15px 13px 19px rgb(8, 5, 5);
    text-align: center;
    font-size:50px;
}

p{
    text-align: center;
}

em strong{
    color:rgb(131, 11, 11);
}

#mision{
    font-size: 20px;
}

.diferenciales{
    text-shadow: 15px 13px 19px rgb(8, 5, 5);
    background: #757474;
    padding: 40px;
}

.items{
    font-size:30px;
    font-style: italic;
    color: black;
}

.imagenDiferenciales{ 
    width: 60%;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px;
}
.copyright{
     color:#FFFFFF;
     font-size: 13px;

}